In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [74]:
import os
import re
import unicodedata

In [116]:
path = "../../datahub/bbc-news-summary/BBC News Summary/"

In [117]:
content_dir = "{}News Articles/".format(path)
summary_dir = "{}Summaries/".format(path)

In [118]:
os.listdir(content_dir), os.listdir(summary_dir)

(['business', 'entertainment', 'politics', 'sport', 'tech'],
 ['business', 'entertainment', 'politics', 'sport', 'tech'])

In [128]:
data = {
    "category": [], 
    "article": [], 
    "summary": []
}

items = 0

for category in os.listdir(content_dir):
    # loop throught items of this category
    category_content_dir = "{}{}/".format(content_dir, category)
    category_summary_dir = "{}{}/".format(summary_dir, category)
    assert len(os.listdir(category_content_dir)) == len(os.listdir(category_summary_dir))
    for file in os.listdir(category_content_dir):
        if os.path.splitext(file)[-1] == ".txt":
            items += 1
            if os.path.exists("{}{}".format(category_summary_dir, file)):
                with open("{}{}".format(category_content_dir, file), mode="r") as content:
                    data["article"].append(content.read())
                    content.close()
                with open("{}{}".format(category_summary_dir, file), mode="r") as summary:
                    data["summary"].append(summary.read())
                    summary.close()    
                data["category"].append(category.strip())

In [129]:
items

2225

In [130]:
dframe = pd.DataFrame(data)

In [131]:
dframe.head()

,category,article,summary
0,business,Ad sales boost Time Warner profit\n\nQuarterly...,TimeWarner said fourth quarter sales rose 2% t...
1,business,Dollar gains on Greenspan speech\n\nThe dollar...,The dollar has hit its highest level against t...
2,business,Yukos unit buyer faces loan claim\n\nThe owner...,Yukos' owner Menatep Group says it will ask Ro...
3,business,High fuel prices hit BA's profits\n\nBritish A...,"Rod Eddington, BA's chief executive, said the ..."
4,business,Pernod takeover talk lifts Domecq\n\nShares in...,Pernod has reduced the debt it took on to fund...

In [132]:
def process_strings(string):
    string = string.replace("\n\n", " ")
    string = string.replace("\n", "")
    if isinstance(string, bytes):
        string = string.decode("utf-8", "ignore")
    string = unicodedata.normalize("NFKD", string).encode("ascii", "ignore").decode("utf-8")
    string = re.sub(r'[\\/*^~@#<>|]', "", string)
    return string.strip()

In [133]:
dframe = dframe.applymap(process_strings)

In [134]:
dframe.head()

,category,article,summary
0,business,Ad sales boost Time Warner profit Quarterly pr...,TimeWarner said fourth quarter sales rose 2% t...
1,business,Dollar gains on Greenspan speech The dollar ha...,The dollar has hit its highest level against t...
2,business,Yukos unit buyer faces loan claim The owners o...,Yukos' owner Menatep Group says it will ask Ro...
3,business,High fuel prices hit BA's profits British Airw...,"Rod Eddington, BA's chief executive, said the ..."
4,business,Pernod takeover talk lifts Domecq Shares in UK...,Pernod has reduced the debt it took on to fund...

In [135]:
dframe.loc[0, "article"]

'Ad sales boost Time Warner profit Quarterly profits at US media giant TimeWarner jumped 76% to $1.13bn (A600m) for the three months to December, from $639m year-earlier. The firm, which is now one of the biggest investors in Google, benefited from sales of high-speed internet connections and higher advert sales. TimeWarner said fourth quarter sales rose 2% to $11.1bn from $10.9bn. Its profits were buoyed by one-off gains which offset a profit dip at Warner Bros, and less users for AOL. Time Warner said on Friday that it now owns 8% of search-engine Google. But its own internet business, AOL, had has mixed fortunes. It lost 464,000 subscribers in the fourth quarter profits were lower than in the preceding three quarters. However, the company said AOL\'s underlying profit before exceptional items rose 8% on the back of stronger internet advertising revenues. It hopes to increase subscribers by offering the online service free to TimeWarner internet customers and will try to sign up AOL\'s existing customers for high-speed broadband. TimeWarner also has to restate 2000 and 2003 results following a probe by the US Securities Exchange Commission (SEC), which is close to concluding. Time Warner\'s fourth quarter profits were slightly better than analysts\' expectations. But its film division saw profits slump 27% to $284m, helped by box-office flops Alexander and Catwoman, a sharp contrast to year-earlier, when the third and final film in the Lord of the Rings trilogy boosted results. For the full-year, TimeWarner posted a profit of $3.36bn, up 27% from its 2003 performance, while revenues grew 6.4% to $42.09bn. "Our financial performance was strong, meeting or exceeding all of our full-year objectives and greatly enhancing our flexibility," chairman and chief executive Richard Parsons said. For 2005, TimeWarner is projecting operating earnings growth of around 5%, and also expects higher revenue and wider profit margins. TimeWarner is to restate its accounts as part of efforts to resolve an inquiry into AOL by US market regulators. It has already offered to pay $300m to settle charges, in a deal that is under review by the SEC. The company said it was unable to estimate the amount it needed to set aside for legal reserves, which it previously set at $500m. It intends to adjust the way it accounts for a deal with German music publisher Bertelsmann\'s purchase of a stake in AOL Europe, which it had reported as advertising revenue. It will now book the sale of its stake in AOL Europe as a loss on the value of that stake.'

In [136]:
dframe.to_csv("article_summary.csv", index=False)